<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CSHS Internet Speed Test</title>
<!--  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap" rel="stylesheet">-->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <header class="site-header">
    <div class="header-wrap">
      <div class="logo" aria-hidden="true">
          <img src="../static/img/calaca_school_logo.png" alt="School Logo" width="200" height="200">
      </div>

      <div class="title" role="heading" aria-level="1">
<!--        <span class="brand">Calaca Senior High School</span>-->
        <span class="product">CSHS Internet Speed Test</span>
      </div>

      <div class="actions">
        <button class="btn primary" type="button" onclick="runSpeedtest()">Run Speed Test</button>
      </div>
    </div>

    <div class="status-strip" aria-live="polite">
      <span class="pill"><span class="dot" aria-hidden="true"></span> Connected to: {{ isp_name }}</span>
      <span class="pill"><span class="dot" aria-hidden="true"></span> Status: Ready</span>
    </div>
  </header>

  <div class="container">

        <!-- Results Box -->
        <div class="results-box" id="results">
          Click "Run Speed Test" to see results here.
        </div>

        <!-- Image Box -->
        <div class="image-box">
          <img id="dynamic-image" src="../static/img/test_net.jpg" alt="Speedtest Graphic" width="260" height="212">
        </div>

  </div>

  <!-- Footer section -->
    <footer>
        <p>&copy; 2026 Created by the students of CSHS</p>
        <p>contact1@example.com</p>
        <p>contact2@example.com</p>
        <p>contact3@example.com</p>
        <p>contact4@example.com</p>
    </footer>

  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>